// 更改sass變數
$gray: #f6f5f4;
$gray-100: #ced4da;
$gray-200: #96a3b0;
$gray-300: #6c757d;
$gray-400: #343a40;

// 字型大小
$font-size-base: 1.15rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.89 !default;
$font-size-lg: $font-size-base * 1.3 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$h7-font-size: $font-size-base * 0.89 !default;
$h8-font-size: $font-size-base * 0.7 !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size,
) !default;

// input 效果
$component-active-bg: #746883 !default;
$input-bg: #f5f4f6;
$input-border-color: #b7b0bf;

// border
$border-radius: 0.225rem;

// 主題色
$theme-colors: (
  'primary': #3c6255,
  'primary-light': #61876e,
  'info': #33597a,
  'info-dark': #243f56,
  'danger': #da5260,
  'warning': #eae7b1,
  'success': #a6bb8d,
  'dark': #242424,
) !default;

@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
  font-size: 1rem;
}
.btn {
  font-size: 0.95rem;
}

nav a {
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
