.all{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: normal;
}
.menu{
    height: 60px;
}
.menu a span{
    letter-spacing: 1px;
    font-size: 1.15rem;
}
.menuItems{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}
.menuItems li{
    /* display: inline-block; */
    padding: 0 15px;
    font-size: 1rem;
    font-weight: 200;
    height: 100%;
}
.menuItems li:hover{
    background:#61876e ;
}
.searchBar{
    font-size: .85rem;
    padding: 8px 25px;
    outline:none;
    border: 0;
    border-bottom: 2px solid #777;
    color: #fff;
    background-color: transparent;
}
.searchBar:focus{
    transition: .3s;
    border-bottom: 2px solid #fff;
}

.searchIcon{
    color:#777;
    height: 100%;
    width: 24px;
    font-weight: bolder;
}
.btnLogin{
    width: 90px;
    height: 40px;
    padding: 8px 16px !important;
    color: #fff !important;
    border: 1px solid #255745b9 !important;
    background: #377e65b9 !important;
}
.btnSignup{
    margin-left: 8px;
    width: 90px;
    height: 40px;
    padding: 8px 16px !important;
    color: #666666 !important;
    border: 1px solid #8e969e !important;
    background: #ced4da !important;
}
